html {
    height: 100%;
}


body {
    margin: 10;
    min-height: 100%;
    background: #f3f2ef;
    display: flex;
    flex-direction: column;
}

#content {
    flex: 1;
    display: flex;
    flex-direction: row;
}

#side-menu {
    flex:1;
}

#main {
    flex: 2;
}

#subscriberEmail {
    background: yellow;
}

#job-title {
    text-align: center;
    color: rgb(123, 24, 24)
}


.favorite {
    background-color: beige;
    border: 2px solid;
    padding: 10px;
}

.page {
    border-radius: 0.99rem;
    box-shadow: 0px 0px 0px 1px rgba(55, 21, 200, 50);
    border: 1px dashed #c9c9c9;
    background: #d7daeb;
    padding: 0 10px 0 10px;
    margin-bottom: 10px;
}

#top-menu-bar {
    text-align: center;
    background-color: #569be0;
    color: #fff;
    margin-left: -10px;
    margin-right:-10px;;
}
#top-menu-bar li {
    display: inline;
    padding: 0;
    margin: 0;
}
#top-menu-bar a{
    text-decoration: none;
    color: #fff;
    display: inline-block;
    padding: 5px 8px;
}
#top-menu-bar a:hover {
    color: #334455;
    background: #fff;
    border-radius: 3px;
}


